header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(90deg, #007bff, #0056b3);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: fadeInDown 1s ease;
    font-family: 'Montserrat', sans-serif;
}

header .logo-container {
    display: flex;
    align-items: baseline;
    gap: 10px;
    animation: slideInLeft 1s ease;
}

header .letter {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

header .contabilidade-letter {
    font-size: 18px;
    font-weight: bold;
    color: #e9ecef;
}

header .btn-header {
    display: flex;
    gap: 20px;
    animation: slideInRight 1s ease;
}

header .btn-header a {
    text-decoration: none;
    color: #e9ecef;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header .btn-header a:hover {
    background-color: #e9ecef;
    color: #007bff;
}



header .logo-container {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

header .letter {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

header .contabilidade-letter {
    font-size: 18px;
    font-weight: bold;
    color: #e9ecef;
}




